.content {
  width: 100%;
  height: 100%;
  background-image: url(../../../images/background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
}

.messageWrap {
  max-width: 540px;
  margin: 20px 50px 0 24px;
  background-color: #17212b;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: row;
}

/* .myMessageWrap::after {
  content: "";
  width: 8px;
  height: 8px;
  border-bottom: 8px solid red;
  border-right: 8px solid transparent;
} */

.message {
  margin: 10px 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.time {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #6c7883;
  align-self: flex-end;
  margin: 0px 8px 6px 0px;
}

.myTime {
  color: #72bcfd;
}

.myMessageWrap {
  float: right;
  background-color: #4082bc;
  margin: 20px 24px 0 50px;
}

.unread {
  background: url(../../../images/icon-sended.svg) center no-repeat;
  min-width: 16px;
  min-height: 16px;
  margin-right: 4px;
  align-self: flex-end;
  margin: 0px 8px 10px 0px;
}

.read {
  background: url(../../../images/icon-read.svg) center no-repeat;
  min-width: 22px;
  min-height: 16px;
  margin-right: 4px;
  align-self: flex-end;
  margin: 0px 8px 10px 0px;
}
